@using PublicTransport.Core.Constants
@using PublicTransport.Core.Models.Lines
@model LineScheduleModel

@{
    ViewBag.Title = $"Разписание линия № {Model.Line.Name}";
}

@if (this.User.IsInRole(UserConstants.Administrator))
{
    <div class="text-center"><a asp-controller="Lines" asp-action="AddStartingHourToLine" asp-route-id="@Model.Line.Id" class="btn btn-lg btn-success">Добави час на тръгване от началната спирка за линията</a></div>
    <br />
    <div class="text-center"><a asp-controller="Lines" asp-action="RemoveStartingHourFromLine" asp-route-id="@Model.Line.Id" class="btn btn-lg btn-danger">Премахни час на тръгване от началната спирка за линията</a></div>
    <br />
}

@if (!Model.AllStopsForThisLine.Any())
{
    <h2 class="text-center">Все още няма добавени спирки за линия № @Model.Line.Name</h2>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr class="bg-primary">
                <th colspan="2"><h4 class="text-center">Цветово кодиране/Легенда</h4></th>
            </tr>
            <tr class="text-center">
                <th class="col-6 bg-green"><h5>Тролейбусът ще бъде на спирката до 2 минути</h5></th>
                <th class="col-6 bg-yellow"><h5>Тролейбусът е на спирката</h5></th>
            </tr>
        </thead>
    </table>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h2 class="text-center">Разписание за линия № @Model.Line.Name</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th class="">№</th>
                                        <th class="col-3">Име на спирката</th>
                                        <th class="col-9">Точен час на преминаване през спирката</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var stop in Model.AllStopsForThisLine)
                                    {
                                        <tr>
                                            <td class="text-center align-middle"><h5>@(stop.Orderer + 1)</h5></td>
                                            <td class="align-middle"><h5>@stop.Name</h5></td>
                                            <td class="text-center align-middle">
                                                @if (!Model.AllStartingHoursForThisLine.Any())
                                                {
                                                    <h5 class="text-center">Няма резултат</h5>
                                                }
                                                else
                                                {
                                                    <h5>
                                                        @Html.Raw(String.Join(", ", Model.AllStartingHoursForThisLine
                                            .OrderBy(x => x.StartHour)
                                            .Select(x =>(x.StartHour.AddMinutes(@Model.AllStopsForThisLine
                                            .Where(y => y.Orderer <= stop.Orderer)
                                            .Sum(y => y.MinutesFromPreviousStop)))
                                            .ToString("t")))
                                            .Replace(DateTime.Now.ToString("t"), $"<span class=\"bg-yellow\">{DateTime.Now.ToString("t")}</span>")
                                            .Replace(DateTime.Now.AddMinutes(1).ToString("t"), $"<span class=\"bg-green\">{DateTime.Now.AddMinutes(1).ToString("t")}</span>")
                                            .Replace(DateTime.Now.AddMinutes(2).ToString("t"), $"<span class=\"bg-green\">{DateTime.Now.AddMinutes(2).ToString("t")}</span>"))
                                                    </h5>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <partial name="_MapPartial" />
}
