@using Microsoft.AspNetCore.Identity
@using PublicTransport.Core.Constants
@using PublicTransport.Core.Models.Vehicles
@using PublicTransport.Infrastructure.Data.Models

@model VehicleDetailsModel
@inject SignInManager<WebsiteUser> SignInManager
@inject UserManager<WebsiteUser> UserManager

@{
    ViewBag.Title = $"{@Model.InventoryNumber} {@Model.Make} {@Model.Model}";
}

<div class="row">
    <div class="col-md-8">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-bus-alt"></i>
                    Основна информация
                </h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-6">Инвентарен номер:</dt>
                    <dd class="col-sm-6">@Model.InventoryNumber</dd>
                    <dt class="col-sm-6">Марка:</dt>
                    <dd class="col-sm-6">@Model.Make</dd>
                    <dt class="col-sm-6">Модел:</dt>
                    <dd class="col-sm-6">@Model.Model</dd>
                    <dt class="col-sm-6">Заводски номер:</dt>
                    <dd class="col-sm-6">@Model.FactoryNumber
                    <dt class="col-sm-6">Година на производство:</dt>
                    <dd class="col-sm-6">@Model.YearBuilt
                    <dt class="col-sm-6">Пристигнал в депото:</dt>
                    <dd class="col-sm-6">@Model.ArriveInTown.ToString("D")</dd>
                    <dt class="col-sm-6">Начало експлоатация в града:</dt>
                    <dd class="col-sm-6">@(Model.InUseSince.HasValue ? @Model.InUseSince.Value.ToString("D") : "Все още няма")</dd>
                    <dt class="col-sm-6">Край експлоатация в града:</dt>
                    <dd class="col-sm-6">@(Model.InUseTo.HasValue ? @Model.InUseTo.Value.ToString("D") : "Все още няма")</dd>
                    <dt class="col-sm-6">Бракуван(Нарязан):</dt>
                    <dd class="col-sm-6">@(Model.ScrappedOn.HasValue ? @Model.ScrappedOn.Value.ToString("D") : "Все още няма")</dd>
                    <dt class="col-sm-3">Състояние:</dt>
                    <dd class="col-sm-9 text-center @Model.VehicleCondition.ClassColor">@Model.VehicleCondition.ConditionDescription</dd>
                    <dt class="col-md-6 offset-md-4">Допълнителна информация:</dt>
                    <dd class="col-sm-12">@Model.Description</dd>
                </dl>
            </div>
        </div>
    </div>

    @if (this.User.IsInRole(UserConstants.Administrator))
    {
        <div class="col-md-4">
            <div class="card card-warning">
                <div class="card-header">
                    <h5 class="text-center">
                        Опции за редакция и изтриване
                    </h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Vehicles" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning float-left">Редактирай</a>
                    <a asp-controller="Vehicles" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger float-right">Изтрий</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card card-warning">
            <div class="card-header">
                <h5 class="text-center">
                    Добавяне на снимка
                </h5>
            </div>
            @if (this.SignInManager.IsSignedIn(User))
            {
                <div class="card-body text-center">
                    <a asp-controller="Vehicles" asp-action="AddPhoto" asp-route-id="@Model.Id" class="btn btn-primary">Добави снимка</a><br>
                    <b class="text-blue">Всеки потребител може да качва до 3 снимки, които се включват в опашката за одобрение.</b><br>
                    <b class="text-blue">Ако вече имате 3 снимки изчакващи одобрение, моля да бъдат одобрени за да можете да кчавате отново. </b>
                </div>
            }
            else
            {
                <div class="card-body text-center">
                    <h3 class="text-center">За да можете да качвате фотографии, <a asp-area="Identity" asp-page="/Account/Login">влезте</a> в профила си или се <a asp-area="Identity" asp-page="/Account/Register">регистрирайте</a>.</h3>
                </div>
            }
        </div>
    </div>
</div>
@if (!Model.PhotosForYear.Any())
{
    <div class="card-body text-center">
        <h3 class="text-center">За това превозно средство все още няма снимки.</h3>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="timeline">
                @foreach (var photoYear in Model.PhotosForYear.DistinctBy(x => x.Year))
                {
                    <div class="time-label">
                        <span class="bg-blue">@photoYear.Year <i class="fas fa-arrow-down"></i></span>
                    </div>
                    @foreach (var photo in photoYear.Photos)
                    {
                        <div>
                            <i class="fa fa-image"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock"></i> @photo.DateUploaded.ToString("f")</span>
                                <h3 class="timeline-header">Публикувана от <a asp-controller="User" asp-action="UserProfile" asp-route-id="@photo.UserId">@photo.User.UserName</a></h3>
                                <div class="row timeline-body">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="col-4 align-middle">
                                                    <a asp-controller="Photos" asp-action="Details" asp-route-id="@photo.Id">
                                                        <img class="img-fluid" src="@photo.ImgUrlFormDatabase" alt="Снимка">
                                                    </a>
                                                </td>
                                                <td class="col-7 align-middle">
                                                    <div class=""><b>Местоположение:</b> @photo.Location</div><br />
                                                    <div class=""><b>Дата на заснемане:</b> @photo.DateOfPicture.ToString("D")</div><br />
                                                    <div class=""><b>Автор:</b> <a asp-controller="User" asp-action="UserProfile" asp-route-id="@photo.UserId">@photo.User.UserName</a></div>
                                                </td>
                                                <td class="col-1 align-middle">
                                                    <a asp-controller="Photos" asp-action="Details" asp-route-id="@photo.Id" class="btn btn-primary float-right">Разгледай</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="time-label">
                        <span class="bg-blue">@photoYear.Year <i class="fas fa-arrow-up"></i></span>
                    </div>
                }
            </div>
        </div>
    </div>
}