@using Microsoft.AspNetCore.Identity
@using PublicTransport.Core.Constants
@using PublicTransport.Core.Models.Users
@using PublicTransport.Infrastructure.Data.Models

@inject SignInManager<WebsiteUser> SignInManager
@inject UserManager<WebsiteUser> UserManager
@model UserDetailsModel

@{
    ViewBag.Title = $"Профилът на {Model.Username}";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <h3 class="profile-username text-center">@Model.Username</h3>
                        <p class="text-muted text-center">@(Model.Role == null ? "Потребител" : Model.Role)</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Качени снимки:</b> <a class="float-right">@Model.Photos.Where(x => x.IsApproved).Count()</a>
                            </li>
                            <li class="list-group-item">
                                <b>Коментари за снимки:</b> <a class="float-right">@Model.PhotoComments.Count</a>
                            </li>
                            <li class="list-group-item">
                                <b>Коментари за новини:</b> <a class="float-right">@Model.NewsComments.Count</a>
                            </li>
                        </ul>
                    </div>

                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Имейл на потребителя</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="far fa-file-alt mr-1"></i>@Model.Email</strong>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Имейл на потребителя</h3>
                        </div>
                        <div class="card-body text-center">
                            <strong>За да видите имейла трябва да <a asp-area="Identity" asp-page="/Account/Login">влезте</a> в профила си или да се <a asp-area="Identity" asp-page="/Account/Register">регистрирате</a>.</strong>
                        </div>
                    </div>
                }
            </div>

            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            @if (@Model.Username == User.Identity.Name)
                            {
                                <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Опции</a></li>
                                <li class="nav-item"><a class="nav-link" href="#card" data-toggle="tab">Моята абонаментна карта</a></li>
                            }
                            <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Профил</a></li>
                            @*                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                            *@
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            @if (@Model.Username == User.Identity.Name)
                            {
                                <div class="tab-pane" id="activity">
                                    <table class="table text-center">
                                        <thead>
                                            <tr>
                                                <th><a class="nav-link text-dark" asp-controller="User" asp-action="MyPhotos" asp-route-id="">Всички мои снимки</a></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="tab-pane" id="card">
                                    @if (this.User.IsInRole(UserConstants.Administrator) || this.User.IsInRole(UserConstants.Moderator))
                                    {
                                        <h3 class="text-center">Вие сте част от екипа на Тролейбусен транспорт - гр. Хасково, имате служебна абонаментна карта. </h3>
                                    }
                                    else if (Model.CardIsRequested == true)
                                    {
                                        <h3 class="text-center">Вие сте заявили абонаментна карта за получаване!</h3>
                                        <br />
                                        <h5 class="text-center">Информация за заявената карта</h5>
                                        <h5 class="text-center">Име и кратко описание на желаната карта: <b>@Model.Card.Name</b></h5>
                                        <h5 class="text-center">Продължителност: <b>@Model.Card.DaysActive дни</b></h5>
                                        <h5 class="text-center">Цена: <b>@Model.Card.Price лв.</b></h5>
                                        <br />
                                        <h5 class="text-center">Име и фамилия на получателя: <b>@Model.CardOwnerFirstName @Model.CardOwnerLastName</b></h5>
                                        <h5 class="text-center">Заявена на дата: <b>@Model.CardRequestedOn.Value.ToString("f")</b></h5>
                                        <br />
                                        <div class="text-center">
                                            <a asp-controller="Cards" asp-action="Reject" asp-route-id="@Model.Id" class="btn-lg btn-danger">Откажи заявената абонаментна карта</a>
                                        </div>
                                        <br />
                                        <h5 class="text-center text-green">За да удостовертите, че сте Вие при получаването моля да носите личен документ (например лична карта) със себе си!</h5>
                                        <h5 class="text-center">За да я получите можете да посетите нашия офис на адрес гр.Хасково ул."Ивайло" 1 ет.3 /Тролейбусен транспорт – гр. Хасково/</h5>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.110904616708!2d25.555220315403563!3d41.933468179217755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ad50cfeb5a8911%3A0x597bbbaaf7781a07!2sul.%20%22Ivaylo%22%201%2C%206300%20Haskovo%20Center%2C%20Haskovo!5e0!3m2!1sen!2sbg!4v1651046366685!5m2!1sen!2sbg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        <h5 class="text-center">Работното време на офиса е от Понеделник до Събота включително - 10:00-19:00 часа</h5>
                                    }
                                    else if (Model.CardIsActive == true)
                                    {

                                    }
                                    else
                                    {
                                        <h3 class="text-center">Вие нямате абонаментна карта!</h3>
                                        <h5 class="text-center"><a asp-controller="Cards" asp-action="All" asp-route-id="">Ако желаете абонамента карта можете лесно да изберете подходяща от тук.</a></h5>
                                    }
                                </div>
                            }

                            <div class="tab-pane active text-center" id="timeline">
                                @if (this.User.Identity.Name == Model.Username)
                                {
                                    <h3>Добре дошли във Вашият профил!</h3>
                                }
                                else
                                {
                                    <h3>Добре дошли в профила на @Model.Username!</h3>
                                }
                            </div>

                            @*<div class="tab-pane" id="settings">
                                <form class="form-horizontal">
                                <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputName" placeholder="Name">
                                </div>
                                </div>
                                <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                                </div>
                                <div class="form-group row">
                                <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                </div>
                                </div>
                                <div class="form-group row">
                                <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                                <div class="col-sm-10">
                                <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                </div>
                                </div>
                                <div class="form-group row">
                                <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                </div>
                                </div>
                                <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                <div class="checkbox">
                                <label>
                                <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                </label>
                                </div>
                                </div>
                                </div>
                                <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                                </div>
                                </form>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>